@using NoteApp.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
@if (Model.Notes.Any())
{
    <div class="container">
        <table class="table table-hover table-borderless">
            <thead class="table-primary">
                <tr>
                    <th>
                        @Html.Label("Title")
                    </th>
                    <th>
                        @Html.Label("Category")
                    </th>
                    <th>
                        @Html.Label("Description")
                    </th>
                    <th>
                        @Html.Label("Created date")
                    </th>
                    <th>
                        @Html.Label("Mentioned date")
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Notes)
                {
                    <tr>
                        <td class="overflow-auto">
                            @Html.DisplayFor(ModelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(ModelItem => item.MentionedDate)
                        </td>
                        <td>
                            <div class="d-grid gap-2 d-md-block">
                                <a class="btn btn-outline-secondary btn-sm compItem" asp-action="Edit" asp-route-id="@item.NoteId">Edit</a>
                                <a class="btn btn-outline-secondary btn-sm compItem" asp-action="Delete" asp-route-id="@item.NoteId">Delete</a>
                                <a class="btn btn-outline-secondary btn-sm compItem" asp-action="Archive" asp-route-id="@item.NoteId">Archive</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.PaginationHelper.HasPreviousPage)
        {
            <a asp-action="Index" asp-route-currentPage="@(Model.PaginationHelper.PageNumber-1)" class="btn btn-outline-secondary">
                Previuos
            </a>
        }
        @if (Model.PaginationHelper.HasNextPage)
        {
            <a asp-action="Index" asp-route-currentPage="@(Model.PaginationHelper.PageNumber+1)" class="btn btn-sm btn-outline-secondary">
                Next
            </a>
        }
    </div>
}
<div class="container" style="margin-top: 0.5%">
    <a class="btn btn-primary compItem" asp-action="Create" role="button">Create New</a>

</div>

@section scripts
{
<script type="text/javascript">

    $(function () {
        $.ajaxSetup({ cache: false });
       $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    })
</script>
}
